.statpage {
    position: absolute;
    width: 90%;
    height: 100%;
    left: 150%;
}

.optpage {
    position: absolute;
    width: 90%;
    height: 100%;
    left: 150%;
}

.creditpage {
    position: absolute;
    width: 90%;
    height: 100%;
    left: 150%;

}
